@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Speakers only</h1>
    <p>
        This page is only visible to speakers
    </p>
    <p>
        <a asp-action="Private">Private page</a>
    </p>
    <p>
        <a asp-action="Speaker">Speaker page</a>
    </p>
    <p>
        <a asp-action="Administrator">Administrator page</a>
    </p>
</div>
