@model SignupViewModel

<div class="signup-page">
    <div class="lead">
        <h1>Sign up</h1>
        <p>Create an account</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control" placeholder="Address" asp-for="Address" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input type="tel" class="form-control" placeholder="Phone" asp-for="Phone" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" placeholder="john@AppDomainUnloadedException" asp-for="Email" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <div class="form-check">

                                <input class="form-check-input" asp-for="TermsAccepted">
                                <label class="form-check-label" asp-for="TermsAccepted">
                                    I accept the terms and conditions
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary" name="button" value="Create">Create</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>